<h1>Sinatra App for WrappedBy Demo</h1>

<p>Environment: <%= settings.environment %></p>
<p>APP_NAME: <%= ENV["APP_NAME"] %></p>

<ul>
  <li><a href="<%= url("info") %>">Info</a></li>
  <li><a href="<%= url("logo.png") %>">Logo</a></li>
</ul>
